.general_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}
#text_1 {
  color: #cc5858;
}
.block_1 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border: 4px solid rgb(237, 243, 169);
  border-radius: 15px;
}

.block_1:hover {
  transition: 1s;
  -webkit-box-shadow: 10px 10px 20px 0px rgb(234, 255, 0);
  -moz-box-shadow: 10px 10px 20px 0px rgb(251, 255, 5);
  box-shadow: 10px 10px 20px 0px rgb(253, 245, 11);
  border: 4px solid rgb(235, 243, 5);
}

#text {
  text-align: center;
  color: white;
}
#text_2 {
  color: #ae00ff;
}
.block_2 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border: 4px solid rgb(220, 234, 140);
  border-radius: 15px;
}

.block_2:hover {
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 20px 0px #fff30c;
  -moz-box-shadow: 10px 10px 20px 0px #d6ee00;
  box-shadow: 10px 10px 20px 0px #e6f604;
  border: 4px solid #ecf40a;
}

#text_3 {
  color: #d4ff00;
}

.block_3 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border: 4px solid #eded9d;
  border-radius: 15px;
}

.block_3:hover {
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 20px 0px #e5fa00;
  -moz-box-shadow: 10px 10px 20px 0px #dbf706;
  box-shadow: 10px 10px 20px 0px #caf604;
  border: 4px solid #f5ed07;
}

#text_4 {
  color: #d0ff00;
}
.block_4 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border: 4px solid #eaee9f;
  border-radius: 15px;
}

.block_4:hover {
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 20px 0px #ecde42;
  -moz-box-shadow: 10px 10px 20px 0px #d9ff02;
  box-shadow: 10px 10px 20px 0px #d7fb07;
  border: 4px solid #d1f604;
}

:root {
  --white: white;
  --red: rgb(0, 0, 0);
  --grey: gray;
  --grey2: rgb(235, 235, 235);
  --grey3: rgb(102, 16, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-width: 350px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--red);
  color: var(--white);
}
.nav-links a {
  color: var(--white);
}

.logo {
  font-size: 30px;
}

.menu {
  display: flex;
  font-size: 18px;
}

.menu li {
  padding: 5px 15px;
}

.menu li a:hover {
  transition: all 0.3s;
  color: var(--grey3);
}

#checkbox_toggle {
  display: none;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.hamburger_line {
  background-color: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamburger_line::before,
.hamburger_line::after {
  background-color: var(--white);
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}

.hamburger_line::before {
  top: 7px;
}

.hamburger_line::after {
  top: -7px;
}

@media (max-width: 760px) {
  .menu {
    display: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--grey);
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 20px;
  }
  .menu li a {
    color: var(--grey3);
    display: block;
    padding: 15px;
  }

  .menu li {
    transition: all 0.5s;
  }

  .menu li:hover {
    background-color: var(--grey2);
  }

  #checkbox_toggle:checked ~ .menu {
    display: block;
    max-height: 100%;
    transition: all 0.5s;
  }
  .hamburger {
    display: block;
    padding: 20px 0;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburger_line {
    background-color: transparent;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburger_line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburger_line::after {
    transform: rotate(45deg);
    top: 0;
  }
}





* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.article {
  margin-top: 15vh;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: dotted;
}

h1 {
  user-select: none;
  font-size: 10vh;
  font-family: italic;
  text-indent: none;
  margin-top: 10%;
  color: #fff1f1;
}



li a:hover {
  -webkit-box-shadow: 4px 5px 33px 22px rgba(218, 175, 175, 0.63);
  -moz-box-shadow: 4px 5px 33px 22px rgba(255, 255, 255, 0.63);
  box-shadow: 4px 5px 33px 22px rgba(253, 253, 253, 0.63);
}

li {
  display: inline-block;
}

#text_1 {
  color: #cc5858;
}
.block_1 {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border: 4px solid rgb(243, 240, 151);
  border-radius: 15px;
}

.block_1:hover {
  transition: 1s;
  -webkit-box-shadow: 10px 10px 20px 0px rgb(224, 254, 0);
  -moz-box-shadow: 10px 10px 20px 0px rgb(251, 255, 0);
  box-shadow: 10px 10px 20px 0px rgb(198, 241, 7);
  border: 4px solid rgb(214, 246, 6);
}

:root {
  --white: white;
  --red: rgb(0, 0, 0);
  --grey: gray;
  --grey2: rgb(235, 235, 235);
  --grey3: rgb(102, 16, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-width: 350px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--red);
  color: var(--white);
}
.nav-links a {
  color: var(--white);
}

.logo {
  font-size: 30px;
}

.menu {
  display: flex;
  font-size: 18px;
}

.menu li {
  padding: 5px 15px;
}

.menu li a:hover {
  transition: all 0.3s;
  color: var(--grey3);
}

#checkbox_toggle {
  display: none;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.hamburger_line {
  background-color: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamburger_line::before,
.hamburger_line::after {
  background-color: var(--white);
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}

.hamburger_line::before {
  top: 7px;
}

.hamburger_line::after {
  top: -7px;
}

@media (max-width: 760px) {
  .menu {
    display: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--grey);
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 20px;
  }
  .menu li a {
    color: var(--grey3);
    display: block;
    padding: 15px;
  }

  .menu li {
    transition: all 0.5s;
  }

  .menu li:hover {
    background-color: var(--grey2);
  }

  #checkbox_toggle:checked ~ .menu {
    display: block;
    max-height: 100%;
    transition: all 0.5s;
  }
  .hamburger {
    display: block;
    padding: 20px 0;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburger_line {
    background-color: transparent;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburger_line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburger_line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

h1 {
  user-select: none;
  font-size: 7vh;
  font-family: italic;
  text-indent: none;
  margin-top: 10%;
  text-align: center;
  color: #fff1f1;
}

p {
  user-select: none;
  font-size: 3vh;
  font-family: italic;
  text-indent: none;
  margin-top: 10%;
  text-align: center;
  color: #fff1f1;
  margin: 1px;
}

h2 {
  user-select: none;
  font-size: 5vh;
  font-family: italic;
  text-indent: none;
  margin-top: 10%;
  text-align: center;
  color: #fff1f1;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  pointer-events: none;
  mix-blend-mode: screen;
}

